<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,315},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>btn_browse_midi_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,740},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_browse_midi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,864},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,864},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,74},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{54,50}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>btn_more_game_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,411},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{82,82}}</string>
                <key>sourceSize</key>
                <string>{138,134}</string>
            </dict>
            <key>btn_more_game_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,427},{120,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{120,122}}</string>
                <key>sourceSize</key>
                <string>{138,134}</string>
            </dict>
            <key>btn_play_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,782},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,782},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_randomsong_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,863},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_randomsong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,781},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_shop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,658},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_song_book_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,576},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_song_book_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,494},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,50}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>close_suggest.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,330},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>guide_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1},{96,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,208}}</string>
                <key>sourceSize</key>
                <string>{96,208}</string>
            </dict>
            <key>guide_note_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{136,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,248}}</string>
                <key>sourceSize</key>
                <string>{136,248}</string>
            </dict>
            <key>guide_note_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,330},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>guide_note_small_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,411},{136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>guide_note_tiny.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,315},{96,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,20}}</string>
                <key>sourceSize</key>
                <string>{96,20}</string>
            </dict>
            <key>guide_note_tiny_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,129},{134,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,60}}</string>
                <key>sourceSize</key>
                <string>{134,60}</string>
            </dict>
            <key>hide_sheet.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,945},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ic_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>left_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,864},{64,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>line_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,138},{198,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>line_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,315},{200,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,10}}</string>
                <key>sourceSize</key>
                <string>{200,10}</string>
            </dict>
            <key>line_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,129},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,264},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>right_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,945},{64,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>show_sheet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,945},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>stroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,98},{30,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,205}}</string>
                <key>sourceSize</key>
                <string>{30,205}</string>
            </dict>
            <key>trang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,661},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,578},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,540},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,548},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>guideNote.png</string>
        </dict>
    </dict>
</plist>
