<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{65,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,259}}</string>
                <key>sourceSize</key>
                <string>{65,259}</string>
            </dict>
            <key>black_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{65,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,260}}</string>
                <key>sourceSize</key>
                <string>{65,260}</string>
            </dict>
            <key>black_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{65,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,260}}</string>
                <key>sourceSize</key>
                <string>{65,260}</string>
            </dict>
            <key>black_yellow_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,262},{65,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,260}}</string>
                <key>sourceSize</key>
                <string>{65,260}</string>
            </dict>
            <key>white_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,262},{93,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,300}}</string>
                <key>sourceSize</key>
                <string>{93,300}</string>
            </dict>
            <key>white_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,262},{94,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,300}}</string>
                <key>sourceSize</key>
                <string>{94,300}</string>
            </dict>
            <key>white_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,563},{94,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,300}}</string>
                <key>sourceSize</key>
                <string>{94,300}</string>
            </dict>
            <key>white_yellow_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,563},{94,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,300}}</string>
                <key>sourceSize</key>
                <string>{94,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,1024}</string>
            <key>textureFileName</key>
            <string>theme1.png</string>
        </dict>
    </dict>
</plist>
